@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Story+Script&display=swap');


@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: all;
}

body {
  font-family: 'Poppins', sans-serif;
}

@layer components{
    .inputbox{
        @apply rounded-xl px-5 py-2 border-2 border-gray-400 text-black inline-flex w-[90%] items-center gap-3 text-gray-600
    }
    .btn-primary{
        @apply bg-gradient-to-r from-emerald-400 to-teal-600 text-white w-[90%] font-bold px-6 py-3 rounded-xl transition-transform cursor-pointer hover:scale-103 duration-350 flex justify-center items-center gap-2
    }
    .about-card{
        @apply bg-white p-6 w-80 rounded-xl shadow-lg hover:shadow-2xl transition-shadow duration-300 flex flex-col items-center justify-center text-center
    }
    .landing-header{
      @apply text-3xl font-semibold text-center mx-auto
    }
    .landing-subheader{
      @apply text-sm text-slate-500 text-center mt-2 max-w-lg mx-auto
    }
    .how-card{
      @apply flex flex-col items-center justify-center max-w-80 shadow-xl px-6 py-3 rounded-xl hover:shadow-2xl transition-shadow duration-300 
    }
    .label-text{
      @apply text-sm text-teal-900 font-semibold
    }
    .form-input{
      @apply border border-gray-400 w-full px-5 py-3 rounded-lg outline-teal-300 focus:ring-teal-400 focus:ring-3
    }
    .report-btn{
      @apply flex items-center gap-2 bg-white shadow-md px-5 py-2 rounded-full border border-gray-300/90 hover:shadow-xl hover:bg-gray-100 transition cursor-pointer w-40 justify-center
    }
    .edit-modal-input{
      @apply flex flex-col gap-2
    }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;    /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.p-datepicker .p-highlight {
  color: white !important;
}

.p-autocomplete-panel .p-highlight {
  color: white !important;
}

/* Text color for sorted column header */
/* .p-datatable .p-sortable-column.p-highlight {
  color: #ffffff !important;     /* Make text white */
/* } */ 

/* If you want the sort icon to turn white also */
/* .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #ffffff !important;
} */



